[submodule "tools/atom"]
	path = tools/atom
	url = https://github.com/atom/atom.git
[submodule "tools/nvm"]
	path = tools/nvm
	url = https://github.com/creationix/nvm.git
[submodule "tools/phpcs/core"]
	path = tools/phpcs/core
	url = https://github.com/squizlabs/PHP_CodeSniffer.git
[submodule "tools/terminus"]
	path = tools/terminus
	url = https://github.com/pantheon-systems/terminus.git
[submodule "tools/phpcs/sniffs/wpcs"]
	path = tools/phpcs/sniffs/wpcs
	url = https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards.git
[submodule "tools/vvv"]
	path = tools/vvv
	url = https://github.com/Varying-Vagrant-Vagrants/VVV.git
[submodule "tools/passage"]
	path = tools/passage
	url = https://github.com/kopepasah/passage.git
[submodule "tools/phpcs/sniffs/compatibility"]
	path = tools/phpcs/sniffs/compatibility
	url = https://kopepasah@github.com/wimg/PHPCompatibility.git
[submodule "tools/phpcs/sniffs/wp-vip"]
	path = tools/phpcs/sniffs/wp-vip
	url = https://github.com/Automattic/VIP-Coding-Standards.git
[submodule "configs/vim/colors/onedark"]
	path = configs/vim/colors/onedark
	url = https://github.com/joshdick/onedark.vim.git
