[submodule "tools/atom"]
	path = tools/atom
	url = https://github.com/atom/atom.git
[submodule "tools/nvm"]
	path = tools/nvm
	url = https://github.com/creationix/nvm.git
[submodule "tools/phpcs"]
	path = tools/phpcs
	url = https://github.com/squizlabs/PHP_CodeSniffer.git
[submodule "tools/terminus"]
	path = tools/terminus
	url = https://github.com/pantheon-systems/terminus.git
[submodule "tools/vassh"]
	path = tools/vassh
	url = https://github.com/xwp/vassh.git
[submodule "tools/wpcs"]
	path = tools/wpcs
	url = https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards.git
