# PHP snippets
'.source.php':
  'Debugger':
    'prefix': 'log'
    'body': '$GLOBALS[\'debug\']->log( $1 ); // @codingStandardsIgnoreLine'
  'Comment':
    'prefix': 'cm'
    'body': '/**\n * $1\n */'
  'Package Comment':
    'prefix': 'pcm'
    'body': '/**\n * $1\n *\n * @package $2\n */'

# JS snippets
'.source.js':
  'Comment':
    'prefix': 'cm'
    'body': '/**\n * $1\n */'
  'Package Comment':
    'prefix': 'pcm'
    'body': '/**\n * $1\n *\n * @package $2\n */'

# SCSS snippets
'.source.scss':
  'Media Query':
    'prefix': 'mqs'
    'body': '@include mqs($1) {$2}'

# Vue Snippets
".text.html.vue":
  "Vue Component":
    "prefix": "template"
    "body": """
      <template>
      	$3
      </template>

      <script>
      export default {
      	${1:name: '${2:name}',}
      }
      </script>

      <style lang="scss" scoped>
      </style>
    """
  "Template":
    "prefix": "template"
    "body": """
      <template>
      	$1
      </template>
    """
  "Router link":
    "prefix": "router-link"
    "body": """
      <router-link :to="{ name: '' }"></router-link>
    """
